---
import {getCollection} from "astro:content";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer/Footer.astro";
import Header from "@components/Header/Header.astro";
import {SITE_DESCRIPTION, SITE_TITLE} from "@/consts";
import PostItem from "../../components/PostItem/PostItem.astro";

import "./Blog.css";

const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="pt-br">
<head>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION}/>
</head>
<body>
<Header/>
<main>
	<section class="blog">
		<h2 class="display blog__title">Blog</h2>
		
		<ul class="blog__list">
            {
                posts.map((post) => (
						<PostItem id={post.id} date={post.data.pubDate} heroImage={post.data.heroImage}
								  title={post.data.title}/>
                ))
            }
		</ul>

	</section>
</main>
<Footer/>
</body>
</html>
